<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Table Edit Customer</h2>
  <form action="/create" method="post" th:object="${staff}">
    <table class="table">
      <tbody>
      <tr>
        <td><input th:field="*{staff_name}"></td>
        <td><input th:field="*{staff_age}"></td>
        <td><input th:field="*{staff_salary}"></td>
        <td><select name="staff_branch">Branch
          <option value="IT">IT</option>
          <option value="Manager">Manager</option>
          <option value="Senior">Senior</option>
        </select></td>
      </tr>
<!--      <tr>-->
<!--        <td style="color: red" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></td>-->
<!--        <td style="color: red" th:if="${#fields.hasErrors('passWord')}" th:errors="*{passWord}"></td>-->
<!--        <td></td>-->
<!--      </tr>-->
      </tbody>
    </table>
    <button type="submit" class="btn btn-success">Create</button>

  </form>
</div>

</body>
</html>