<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">


    <h2>Show Staff</h2>
    <a href="/create" class="btn btn-success">Create</a>
    <br>
    <br>
    <table class="table" th:each="staff ,loop : ${list}">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Branch</th>
        </tr>
        </thead>
        <tbody>

        <tr>

            <td th:text="${staff.staff_id}"></td>
            <td><a th:href="@{/showDetail(id=${staff.staff_id})}" th:text="${staff.staff_name}"></a></td>
            <td th:text="${staff.staff_age}"></td>
            <td th:text="${staff.staff_salary}"></td>
            <td th:text="${staff.staff_branch}"></td>
            <td ><a th:href="@{/edit(id=${staff.staff_id})}">Edit</a></td>
            <td ><a th:href="@{/delete(id=${staff.staff_id})}" onclick="if (!confirm('Are you sure?')) { return false }">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
